.illustate-score {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-auto-rows: minmax(40px, auto); */
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    /* 在god-willing左側時的間距 */
    /* 設置illustrateScore為網格布局 */
    grid-template-columns: repeat(2, 1fr);
}

.illustate-score>div {
    display: flex;
    align-items: center;
    writing-mode: vertical-rl;
    /* 垂直文字方向，從右到左 */
    text-orientation: mixed;
    /* 允許漢字自然垂直排列 */
    box-sizing: border-box;
    min-height: 40px;
    min-width: 30px;
    font-size: 30px;
    overflow: hidden;
    background-color: white;
    border-bottom: 1px solid #eee;
}

/* 數字水平顯示 */
.illustate-score>div .number,
.illustate-score>div span.number {
    writing-mode: horizontal-tb;
    /* 水平顯示數字 */
    display: inline-block;
    text-align: center;
}

.illustate-score>div:last-child {
    border-bottom: none;
}

.totalScore {
    font-weight: bold;
    color: red;
    font-size: 18px !important;
}

.score-item {
    color: #333;
    border: #333 solid 1px;
    font-size: 13px !important;
}

/* 響應式布局 */
@media screen and (max-width: 900px) {
    .illustate-score {
        margin-right: 0;
        max-height: 600;
    }

    .illustate-score>div {
        font-size: 18px;
    }
}

.content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}