.illustate-score {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(40px, auto);
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    /* 在god-willing左側時的間距 */
    /* 設置illustrateScore為網格布局 */
    grid-template-columns: repeat(2, 1fr);
}

.illustate-score>div {
    display: flex;
    align-items: center;
    writing-mode: vertical-rl;
    /* 垂直文字方向，從右到左 */
    text-orientation: mixed;
    /* 允許漢字自然垂直排列 */
    box-sizing: border-box;
    min-height: 40px;
    min-width: 30px;
    font-size: 30px;
    overflow: hidden;
    background-color: white;
    border-bottom: 1px solid #eee;
}

/* 數字水平顯示 */
.illustate-score>div .number,
.illustate-score>div span.number {
    writing-mode: horizontal-tb;
    /* 水平顯示數字 */
    display: inline-block;
    text-align: center;
}

.illustate-score>div:last-child {
    border-bottom: none;
}

.mainGod {
    font-weight: bold;
}

.totalScore {
    font-weight: bold;
    color: red;
}

.score-item {
    color: #333;
    border: #333 solid 1px;
}

/* 響應式布局 */
@media screen and (max-width: 900px) {
    .illustate-score {
        margin-right: 0;
    }

    .illustate-score>div {
        font-size: 18px;
    }
}

/* 在較大屏幕上，將illustrate-score和god-willing並排顯示 */
@media screen and (min-width: 769px) {
    .content-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

/* 在較小屏幕上，將illustrate-score放在god-willing下方 */
@media screen and (max-width: 768px) {
    .content-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 600px) {
    .illustate-score>div {
        font-size: 14px;
        min-width: 10px;
        min-height: 18px;
        padding: 1px;
    }
}